/* Imports */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&display=swap');



/* Base de la page d'accueil -------------------------------------------------- */



/* Body */


body {
    margin: 0; 
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-image: url("../images/brehatCotesArmor.jpg");
}


/* Navbar */

.topnav {
    display: flex;
    background-color: transparent;
    justify-content: center;
    min-height: 10%;
    gap: 2%;
}



.topnav::before{
    z-index: -1;
    background-color: white;
    position: absolute;
    transition: all 0.5s;
    content:"";
    height: 0%;
    width: 100%;
    box-shadow: 0px 0px 5px rgb(56, 56, 56);   
}

.topnav:hover::before {
    height: 10%;
}


.topnav-option-logo {
    display: flex;            /* new */
    align-items: center;      /* new */
    justify-content: center;  /* new */

    max-height: 9%;
    transition: all 0.5s ease;
}

.topnav-option-links {
    max-height: 10%;
    transition: all 0.5s ease;

    display: flex;            /* new */
    align-items: center;      /* new */
    justify-content: center;  /* new */

}



.topnav-option-logo #topnav-logo {
    align-self: center;
    max-height: 80px;
    max-width: 200px;

    transition: all 0.5s ease;
    filter: invert() brightness(100);  
    
}

.topnav:hover #topnav-logo{
    filter: none;    
}

.topnav-option-dropmenu #topnav-menu-button{
    max-height: 75px;
    max-width: 75px;
    display: none;

}



#button {
    display: none;
}


.topnav-option-links a {
    font-size: 150%;
}

.topnav-option-links a:link {
    color : rgb(105, 19, 19);
    
}


.topnav-option-links a:hover {cursor: pointer;}

.topnav-option-links a::after {
    content: '';
    display: flex;
    width: 0;
    height: 2px;
    margin-top: 5%;
    background: rgb(133, 11, 11);
    transition: width .3s;
}

.topnav-option-links a:hover::after {
    width: 100%;
}

#dropdown {
   
    width: 100%;
    height: 0px;
    display: flex;
    flex-direction: column;
    transition: all 0.3s ease-in-out; 
}




#dropdown-option-one {
    
    padding: 10px 0px 10px 10px;
    box-shadow: 0 4px 1px -1px rgba(128, 128, 128, 0.233);
    opacity: 0%;
    transition: all 0.4s ease-in-out;
    background-color: white;
}

#dropdown-option-two {
    
    padding: 10px 0px 10px 10px;
    box-shadow: 0 4px 1px -1px rgba(128, 128, 128, 0.233);
    opacity: 0%;
    transition: all 0.4s ease-in-out;
    background-color: white;
}

#dropdown-option-one a:link{
    color : rgb(0, 0, 0);
    text-decoration: none;
}

#dropdown-option-two a:link{
    color : rgb(0, 0, 0);
    text-decoration: none;
}

#dropdown-option-one a:visited{
    color : rgb(0, 0, 0);
    text-decoration: none;
}

#dropdown-option-two a:visited{
    color : rgb(0, 0, 0);
    text-decoration: none;
}

.topnav-option-links a:link{
    color : rgb(0, 0, 0);
    text-decoration: none;
}
.topnav-option-links a:visited{
    color : rgb(0, 0, 0);
    text-decoration: none;
}


/* Video */

video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -2;
    margin-bottom: -35px;
}   

/* Boites */

.splashScreen{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90%;
    gap: 5%;
    background-color: rgba(255, 235, 198,0.35);
}

#container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 70%;  
}

#container h1 {
    text-align: center;
    color: white;
    font-size: 135;
    font-family: 'Libre Baskerville', serif;
    font-size: 75;
    color: white;
}

#tourisme {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
}

#option {
    box-shadow: 0px 0px 5px black;
    max-height: 150px;
    min-width: 150px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    background-color: rgba(0, 108, 103,0.2);

}



